<div class='flex flex-col gap-4'>

  <h1>Editing article</h1>

  <%= render "form", article: @article %>

  <br>

  <div class='flex gap'>
    <%= link_to "Show this article", @article, class:'inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2  margin-top' %> 
    <%= link_to "Back to articles", articles_path, class:'inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2  margin-top' %>
  </div>
</div>
